<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.resolver_match.view_name == 'mainapp:mainapp.views.NewsView' %}active{% endif %} ">
            <a class="nav-link" href="/mainapp/news/">Новости</a>
        </li>
        <li class="nav-item {% if request.resolver_match.view_name == 'mainapp:mainapp.views.CoursesListView' %}active{% endif %} ">
            <a class="nav-link" href="/mainapp/courses_list">Курсы</a>
        </li>
{#    Добавил для отображения имиени пользователя в меню#}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'authapp:edit' %}">{{ user.first_name|default:user.username }}</a>
        </li>
{#    добавил для отображения имени пользователя в меню#}
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="ddProfile" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Профиль
                </a>
                <div class="dropdown-menu" aria-labelledby="ddProfile">
                    <a class="dropdown-item" href="{% url 'authapp:edit' %}">Редактировать профиль: {{ user.first_name|default:user.username }}</a>
{#                    {{ user.first_name|default:user.username }} - добавил в строке выше для отображения в меню#}
                    <a class="dropdown-item" href="#">Мои курсы</a>
                    <div class="dropdown-divider"></div>
                    {% if user.is_staff %}
                        <a class="dropdown-item" href="{% url 'admin:index' %}">Модерация</a>
                        {% endif %}
                        {% if user.is_superuser %}
                        <a class="dropdown-item" href="{% url 'admin:index' %}">Административный раздел</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'authapp:logout' %}">Выход</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'authapp:login' %}">Вход</a>
            </li>
        {% endif %}
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'mainapp:contacts' %}">Контакты</a>
        </li>


    </ul>
    <span><a href="#">🇷🇺</a> <i class="fas fa-grip-lines-vertical"></i> <a href="#">🇬🇧</a></span>
</div>